<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/login.css">

</head>
<body>
    <div class="container">
        <div class="row">
          <div class="col-sm">
            <img src="/static/pokeball.png" class="titleImage" alt="Pokeball">
        </div>
          <div class="col-sm">
              <div class="title">
                <h1>Welcome To Your Pokedex!</h1>
              </div>
        </div>
          <div class="col-sm">
            <img src="/static/pikachu.png" class="titleImage" alt="Pokedex">
        </div>
        </div>
      </div>

        <div class="googleButton">
          <a class="btn btn-outline-success" href="/login_request" role="button" style="text-transform:none">
            <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
            Login with Google
          </a>
        </div>

        <div class="landingPage">
          <h4>Create your own Pokemon dream team</h4>
          <h5>All generations available for your team, you can mix and match</h5>
          <h5>Research the pokemon you have been looking for</h5>
          <h5>This is the game outside of the game</h5>

          <ul class="list-group">
            <li class="list-group-item active">Created By</li>
            <li class="list-group-item">Alfonso Buzeta Borquez</li>
            <li class="list-group-item">Brian Williams</li>
            <li class="list-group-item">Eric Burch</li>
            <li class="list-group-item">Ivan Garcia</li>
          </ul>
        </div>

</body>

</html>