<html>
    <link rel="stylesheet" href="../static/teams.css">
    <body>
        <h1>Team Page</h1>
        {% if data.team is not none %}
            {% if data.pokemon_list | length > 0 %}
                <div class="team">
                    <div class="team-grid">
                        {% for i in range(6) %}
                            {% if i < data.pokemon_list | length %}
                                <!-- render image of Pokemon -->
                                <form action="" method="get"> <!-- change action later: "/pokemon/{{ data.pokemon_list[i].id }}" -->
                                    <input type="image" width="100" height="100" src={{ data.pokemon_list[i].image }}>
                                </form>
                            {% else %}
                                <!-- render clickable blank square -->
                                <form action="/search" method="get">
                                    <input class="square" type="submit" value="">
                                </form>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                <!-- don't render the team view -->
                <p>Your team has no Pokemon</p>
            {% endif %}
        {% else %}
            <form action="/create_team" method="post">
                <input type="submit" value="Create team">
            </form>
        {% endif %}
        
    </body>
</html>