<!DOCTYPE html>
<html>

<head>
    <title> The Pokedex </title>
</head>

<body>
    <h1> The Pokedex </h1>
    <h3>Welcome {{ user_id }}</h3>

    <p>Hello, {{user_id}}! You're logged in! Email: {{user_email}}</p>
    <div>
        <p>Google Profile Picture:</p>
        <img src="{{user_pic}}" alt="Google profile pic"></img>
    </div>
    <a class="button" href="/logout">Logout</a>

    <form action="/teams">
        <button type="submit">Go Look at your team</button>
    </form>

    <h3>Search for a Pokemon</h3>
    <form method="POST" action="/search_form">

        <label for="search">Search</label>
        <input type="text" id="search" name="search">
        <input type="submit" value="Submit">
    </form>
</body>

</html>