<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>
    <div class="search">
        <form method="POST" action="home">
            <input type="text" name="Search" placeholder="Search for Pokemon">
            <input type="submit" value="Search">
        </form>
        <form method="POST" action="home">
            <input type="text" name="Search" placeholder="Search for Pokemon">
            <input type="submit" value="Search">
        </form>
        <form method="POST" action="home">
            <input type="text" name="Search" placeholder="Search for Pokemon">
            <input type="submit" value="Search">
        </form>
    </div>
</body>

</html>